*{
    margin: 0;
    padding: 0;
}
.container{
    height: 600px;
    width: 700px;
    background-color: lavender;
    border: 1px solid black;

    display: flex;
    /*flex-direction: column-reverse;*/
    flex-direction: row;
    /*justify-content: flex-end;*/
    justify-content: center;
    justify-content: space-between;
    justify-content: space-evenly;

    flex-wrap: wrap-reverse;
    flex-wrap: wrap;

    align-items: center;
    align-items: end;

}
.box{
    margin: 5px;
    padding: 10px;
    border: 1px solid;
    height: 175px;
    width: 175px;

}
#heading{text-align: center;}
#box1{
    /* height: 75px;
    width: 75px;
    border: 1px solid;
    margin: 5px;
    padding: 5px; */
    background-color: blue;

}
#box2{
    background-color: red;
}
#box3{
    background-color: orange;
    
}
#box4{
    background-color: aqua;
}